.site-header {
    padding-top: 4rem;
    padding-bottom: 12.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    background-color: $light-blue-alt;

    h1 {
        margin: 0 auto;
        text-align: center;
        overflow: hidden;
        max-width: 41.1rem;

        &:first-of-type { margin-bottom: 2rem; }
    }

    h1 span {
        display: block;
        font-size: fluid-text(414px, 42px, 860px, 90px);
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: $white;
    }

    .first {
        animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .second {
        animation: reveal 2s cubic-bezier(0.77, 0, 0.175, 1);
    }
}

@keyframes reveal {
    0% {
        transform: translate(0,130%);
    }

    100% {
        transform: translate(0,0);
    }
}

.countdown-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 52rem;
    margin: 3rem auto;

    h3 {
        margin-top: 0;
    }

    input, button {
        line-height: 1.2;
        padding: 0.5rem;
        border: 2px solid $secondary-text-color;
        border-radius: $radius-small;
        font-size: 1.25rem;
        font-family: $gabarito;
        font-weight: $semibold;
        color: $secondary-text-color;
    }
}

.countdown {
    display: flex;
    justify-content: space-between;
    max-width: 25rem;
    padding: 1.2rem 0;
    border-top: 1px solid $black;
}

.countdown .day, .countdown .hour, .countdown .min, .countdown .sec {
    text-align: center;
}

.countdown .day .num, .countdown .hour .num, .countdown .min .num, .countdown .sec .num {
    display: block;
    font-size: 40px;
}

.countdown .day .word, .countdown .hour .word, .countdown .min .word, .countdown .sec .word {
    display: block;
    font-size: 20px;
}


.social-row {
    display: flex;
    justify-content: space-between;
    max-width: 16.5rem;
    margin-top: 2rem;

    &--link {
        display: block;
        width: 2.25rem;
        height: 2.25rem;
        border: 2px solid $secondary-text-color;
        border-radius: $circle;
        color: $secondary-text-color;
        text-align: center;

        span {
            line-height: 2; // center vertically
        }

        &:hover {
            background-color: $secondary-text-color;
            span { color: $white; }
        }
    }
}
